int(), char() , list(), tuple(), set(), dict().float()

In [6]:
int('10'), int(10,2), oq('1')Q ord('0')

SyntaxError: invalid syntax (<ipython-input-6-82f915e9db7c>, line 1)

In [7]:
int('1001'), int('11', 16), int '10',2

SyntaxError: invalid syntax (<ipython-input-7-7e6283758750>, line 1)

In [10]:
list(enumerate(['tic', 'tac', 'toe']))

[(0, 'tic'), (1, 'tac'), (2, 'toe')]

In [ ]:
a, b = a[o]
for i,enumerate

In [13]:
for i, v in enumerate([60, 80, 90, 75, 55]):
    if v > 60: print("%d 번째 수험생 합격" % (i + 1))

2 번째 수험생 합격
3 번째 수험생 합격
4 번째 수험생 합격

In [19]:
[(i, j) for i, j in enumerate ('Yesterday all my troubles so far away'.split())]

[(0, 'Yesterday'),
 (1, 'all'),
 (2, 'my'),
 (3, 'troubles'),
 (4, 'so'),
 (5, 'far'),
 (6, 'away')]

In [24]:
a,b,c = zip ((1,2,3),(10,20,30),(100,200,300))

In [25]:
sum(a), sum(b), sum(c)

(111, 222, 333)

In [26]:
[sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))]

[111, 222, 333]

In [27]:
chr(36), chr(162), chr(163), chr(165), chr(8364), chr(164)

('$', '¢', '£', '¥', '€', '¤')

In [30]:
symbols = "$¢£¥€¤"
[(s, ord(s)) for s in symbols if ord(s) > 127 ]

[('¢', 162), ('£', 163), ('¥', 165), ('€', 8364), ('¤', 164)]

In [31]:
list(map(ord,symbols))

[36, 162, 163, 165, 8364, 164]

In [32]:
list(filter(lambda x : x > 0, [10, -10, 0, 12]))

[10, 12]

In [37]:
list(filter(lambda x : ord(x) > 127, symbols))

['¢', '£', '¥', '€', '¤']