In [2]:
import time

In [5]:
start = time.time()
for a in range(100000000):
    a += 100
end = time.time()
print(end - start)

7.641454458236694

In [6]:
time.ctime(time.time())

'Thu Jul 16 17:01:12 2020'

In [7]:
import math

In [8]:
math.sin(math.radians(45))

0.7071067811865476

In [9]:
math.sqrt(2), math.factorial(5)

(1.4142135623730951, 120)

In [10]:
import random

In [11]:
for i in range(5):
    print(random.random())

0.6530044296498958
0.9469232120459508
0.31349920829903277
0.44958068215375746
0.25090414318518073

In [21]:
random.randint(1,900)

655

In [25]:
food = ['짜장면', '짬뽕', '유산슬', '탕수육', '볶음밥', '깐쇼새우']
random.shuffle(food)
print(food)

['짬뽕', '유산슬', '볶음밥', '탕수육', '짜장면', '깐쇼새우']

In [27]:
str = "89점"
try:
    score = int(str)
    print(score)
except: 
    print("예외발생")
else:
    print("작업완료")
finally:
    print("종료")

예외발생
종료

In [1]:
import py

ModuleNotFoundError: No module named 'pymysql'